.wrapper {
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 8px;
}

.divider {
  width: 100%;
  display: block;
  fill: var(--colour-gray-900);
  user-select: none;
  position: relative;
  bottom: -10px;
  left: 0;
  right: 0;
}

.divider-light {
  fill: var(--colour-gray-800);
}

.app-text {
  font-size: inherit;
  color: var(--colour-green);
}
